* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}  


@font-face {
    font-family: 'Oswald' ,sans-serif;
    src: local('./fons/Oswald-VariableFont_wght.ttf') format('fft');
}


   
body{
    font-family: oswald, sans-serif ;
}

    .header{
        background-color: #ffffff;
        display: flex;
        justify-content: space-between;

        border-bottom: solid;
        border-color: orange;
        
        width: 100%;
        padding: 1rem;
    }

            /* El checkbox, el menu de 3 rayas y la x solo se veran en la version Mobile y Tablet */
            .header__image-htmlcss-MobileAndTablet{
                display: none;
                width: 7.5rem;
            }

            .header__hamburguesa-checkbox{
                display: none;    
            }

            .header__menu-hamburguesa-icono-3rayas{
                display: none;
                position: relative;
                font-size: 2rem; 
                padding-top: 2.5rem;
                
                left: 60%;
                /* background-color: bisque; */
                align-items: center;
            }

            .header__menu-hamburguesa-icono-x{
                display: none; 
                position: relative;
                font-size: 2rem;
                padding-top: 2.5rem;
                left: 60%;
                /* background-color: rgb(135, 83, 20); */
            }


            /* Imagen HTML y CSS */
            .header__image-htmlcss{
                width: 7.5rem;
            }


            /* Contenedor de Links */
            .header_nav_container{
                display: flex;
            }
                        .header__nav-containerLink{
                            display:flex;
                            align-items: center; /* Alinea verticalmente */
                            justify-content: center;
                            width: 7rem;
                            height: 5rem; 
                        }


            /* Iconos de Redes Sociales */            
            .header__iconos-container{
                display: flex;
                align-items: center;
                gap: 0.5rem;/* Espacio Entre los elementos */
                margin: 0.5rem;
                
            }
                        .header__icono-imagen{
                            width: 2.5rem;
                            border-radius: 50%;
                        }

            
            
            
           
            
 
/* Hover */
    /*Hover para los Enlaces de Navegacion*/
    .header__nav-containerLink:hover{
        background-color: black;    
    }
    
    .header__nav-containerLink:hover > .header__nav-links {
        color: white;
        text-decoration: underline;
        cursor: pointer;
    }


    /*Hover para las Redes Sociales*/
    .header__icono-imagen:hover{
        transform: scale(1.25);
        animation-duration: 0.25s;
        animation-timing-function: ease-in;
        cursor: pointer;
    }                        


    

    



/* Breackpoints */
    /* Pantalla modo movil de 0px a 480px */
    @media ( min-width : 0px ) and ( max-width: 480px ) { 
        .body{
            background-color: aqua;
        }

        .header__image-htmlcss{
            display: none;
        }

        .header__image-htmlcss-MobileAndTablet{
            display: inline;
        }

        .header{
            display: inline-block;
        }

        .header__nav-containerLink{
            display: flex;
            justify-content: flex-start;
        }
        
        .header_nav_container{
            display: none;
        }
        
        .header__iconos-container{
            display: none;
        }

        .header__menu-hamburguesa-icono-3rayas{
            display: inline; 
        }

        .header__hamburguesa-checkbox:checked~.header_nav_container{
            display: block;
                   
        }

        .header__hamburguesa-checkbox:checked~.header__iconos-container{
            display: inline-flex;
        }

        .header__hamburguesa-checkbox:checked~.header__menu-hamburguesa-icono-3rayas{
            display: none;
        }

        .header__hamburguesa-checkbox:checked~.header__menu-hamburguesa-icono-x{
            display: inline;
        }



    }


    /* Pantalla modo Tablet de 1024x al infinito */
    @media ( min-width : 481px ) and ( max-width: 1024px ) {
        /* .body{
            background-color: rgb(0, 72, 255);
        } */

        .header__image-htmlcss{
            display: none;
        }

        .header__image-htmlcss-MobileAndTablet{
            display: inline;
        }

        .header{
            display: inline-block;
        }

        .header__nav-containerLink{
            display: flex;
            justify-content: flex-start;
        }
        
        .header_nav_container{
            display: none;
        }
        
        .header__iconos-container{
            display: none;
        }

        .header__menu-hamburguesa-icono-3rayas{
            display: inline; 
            left: 70%;
        }

        .header__hamburguesa-checkbox:checked~.header_nav_container{
            display: block;
                   
        }

        .header__hamburguesa-checkbox:checked~.header__iconos-container{
            display: inline-flex;
        }

        .header__hamburguesa-checkbox:checked~.header__menu-hamburguesa-icono-3rayas{
            display: none;
        }

        .header__hamburguesa-checkbox:checked~.header__menu-hamburguesa-icono-x{
            display: inline;
        }
        
    }



.main{
    width: 100%;
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    row-gap: 2em;  
}    

/*  Seccion del Video */
    .banner{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 95%;
    }
            .banner__video-container{
                width: 100%;
            }

                .banner__video{
                    width: 100%;
                    display: block;
                }

            .banner__background-opacity {
                background-color: black;
                width: 100%;
                opacity: 0.45;
                height: 100%;
                position: absolute;
                top: 0;
                bottom: 1rem;
            }

            .banner__text{
                color: #ffffff;
                position: absolute;
                top: 0;
                text-align: center;
                width: 80%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                row-gap: 1em;
            }


/* Seccion del location of world */

.location-of-world__title{
    width: 100%;
    display: flex;
    justify-content: center;
}

.location-of-world__cards-container{
    /* width: 100%;
    margin: 50% auto; */
    /* background-color: aquamarine; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* gap: 1rem; */
}

    .location-of-world__card{
        margin: 0.5rem;


        /* Efecto al girar el card */
        -webkit-perspective: 800;
        perspective: 800;
        

    }

    .location-of-world__card:hover .location-of-world__card-front-begin{
        transform: rotateY(180deg); 
    }


        .location-of-world__card-front-begin{
            width: 300px;
            height: 150px;
            background-color: black;
            position: relative;/* para que se posiones el texto de la parte de delante y detras */


            /* Hara que al girar la parte de atras quede atras y la de adelante delante */
            transform-style: preserve-3d;

            /* Esto hara que la targeta gire como si fuera de verdad */
            transition: .7s ease;
            border-radius: 5%;
            border: 2px;
        }

        .location-of-world__card-front, .location-of-world__card-begin{
            width: 100%;
            height: 100%;
            position: absolute;/* para que se posiones el texto de la parte de delante y detras */
            top: 0;
            left: 0;
            -webkit-backface-visibility: hidden; 
            /* Esto se hace para que si la parte de atras a girado, no se muestre esa parte que ha girado */
            /* Para rotar y que no se muestre la parte trasera y delantera */
            backface-visibility: hidden;
            
        
            
        }

        .mountain{
            width: 100%;
            background-image: url(images/Mountain.jpg);
            background-size: cover;
            border-radius: 5%;
            border: 2px;
        }

        .lake{
            width: 100%;
            background-image: url(images/Lake.jpg);
            background-size: cover;
            border-radius: 5%;
            border: 2px;
        }

        .ocean{
            width: 100%;
            background-image: url(images/Ocean.jpg);
            background-size: cover;
            border-radius: 5%;
            border: 2px;
        }

            .location-of-world__texto-Front{
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                color: white;
                padding-top: 2rem;
                font-size:xx-large;
            }
                



        .location-of-world__card-begin{
            /* Para poder rotar la card */
            transform: rotateY(180deg);

            /* Centrar texto de la parte de atras del card */
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            color: white;
            flex-direction:column;
            gap: 1rem;
        }
                .location-of-world__begin-title-text{
                    font-size: large;
                }

                .location-of-world__begin-paragraph-text{
                    font-size: small;
                }

/* Seccion plans */





    